body{
    margin: 0;
    font-family: roboto;
    background-image: linear-gradient(to right,rgb(77, 6, 110), rgba(0, 0, 0, 0.993),rgba(54, 22, 54, 0.862));
    overflow-x: hidden; 
}
.burger-menu{
    visibility: hidden;
    display: none;


}
.close-menu{
    visibility: hidden;
    display: none;
  
}
.main-div{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.menu-bar{
    display: flex;
    width: 2000px;
    justify-content: space-around;
    margin-top: 40px;
}
.header-2{
    display: none;
}
.menu-bar-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:center;
}
.sign-in-button, .signup-button-1{
    display:none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: rgb(226, 90, 253);
    border: 0.1px solid rgb(226, 90, 253);
    border-radius: 5px;
    padding: 6px 14px 6px 14px;
    cursor: pointer;
  
}
.menu-bar-list li{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 0, 0.644);
    border: 0.1px solid rgb(226, 90, 253);
    border-radius: 5px;
    padding: 6px 14px 6px 14px;
}
.signup-button{
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: rgb(226, 90, 253);
    border: 0.1px solid rgb(226, 90, 253);
    border-radius: 5px;
    padding: 6px 14px 6px 14px;
}
.menu-bar-list li:hover,.signup-button:hover{
    background-color: rgb(226, 90, 253);
    color: black;
    cursor: pointer;
    transition-duration: 400ms;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}
.div-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon-image{
    height: 40px;
    opacity: 1;
    filter: drop-shadow(0.5px 0.5px 15px rgb(226, 90, 253));
}

.search-icon-image:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 400ms;
    transition-timing-function:ease-out;
    transform: scale(1.2);
}




 

/** second section begins from here**/


.image-1{
    position: fixed;
    right: -250px;
    top: -1%;
    filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
    opacity: 0.4;
    z-index: -2;
    rotate: 90deg;
    height: 10px;
    


}


.image-2{
    position: fixed;
    left:0px;
    top:-60px;
    opacity: 1;
    filter: drop-shadow(5px 5px 20px rgb(234, 41, 251));
    z-index: -5;
    animation-name:imageSlide ;
    animation-duration: 10000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:alternate;
   
}
@keyframes imageSlide {
    from{
        transform:translateY(0px)
    }

    to{
        transform: translateY(-40px);
    }
    
}
.image-4 img{
    position: fixed;
    left:-40px;
    top:-80px;
    filter: drop-shadow(5px 5px 20px rgb(76, 16, 255));
    opacity: 0.4;
    rotate: 170deg;
    z-index: -15;

}
/**body**/

.body-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:100px;
    margin-left: 30px;

}
.body-1-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.body-1-1 h2{
    font-size: 50px;
    font-weight: bold;
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 5px;
     
}
.body-1-1 p{
    
    color: white;
    letter-spacing: 3px;
    text-wrap:wrap;
     
}
.body-1-1 span{
    background-color: blueviolet;
    color: aliceblue;
    padding: 0px 5px ;
}
.body-1-1 input{
    background-color: rgba(7, 7, 7, 0.855);
    width: 250px;
    height: 35px;
    border: transparent;
    filter: drop-shadow(0.5px 0.5px 15px rgba(189, 143, 235, 0.34));
    color: rgba(255, 255, 255, 0.919);
    font-family: roboto;
    outline: none;
    padding-left: 20px;

}
.body-1-1 input::placeholder{
    color: rgba(255, 255, 255, 0.784);

}
.body-1-1 button{
    color: white;
    background-color:  blueviolet;
    width: 100px;
    height: 35px;
    border: transparent;
    filter: drop-shadow(0.5px 0.5px 15px rgba(252, 249, 255, 0.21));
    outline: none;
    cursor: pointer;
}

.astronaut{
    width: 500px;
    filter: drop-shadow(10px 10px 30px rgb(0, 0, 0));
    transform: scaleX(-1);
    
}

.statistics{
    display:flex;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 50px 60px 0px 60px;
    border: transparent;
    background: rgba(255, 255, 255, 0.037);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.statistics span {
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 10px;


}
.statistics p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight:50px; 
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;

}
.buisness{
    display:flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 50px 60px 0px 60px;
    border: transparent;
    background: rgba(255, 255, 255, 0.037);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.buisness-left{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}
.buisness-left h2{
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
}
.buisness-left p{
       
    color: white;
    letter-spacing: 2px;
    text-wrap:wrap;
}
.buisness-left button{
    color: white;
    background-color:  rgb(126, 1, 243);
    width: 120px;
    height: 35px;
    border: transparent;
    filter: drop-shadow(0.5px 0.5px 15px rgba(252, 249, 255, 0.21));
    outline: none;
    cursor: pointer;
}

.buisness-right{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
.buisness-right div{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.buisness-right .buisness-right-right:hover{
    border: transparent;
    background: linear-gradient(18deg, rgba(169, 54, 226, 0.138) 24%, rgba(201,54,241,0.7652310924369747) 61%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 32, 32, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
   
}
.buisness-right div div img{
    width: 50px;
    background-color:blueviolet;
    border: transparent;
    border-radius: 50%;
    margin-right: 20px;
}
.buisness-right h3{
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
}
.buisness-right p{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    text-wrap:wrap;
    margin-left: 10px;
}
.programms-left img{
    width: 350px;
    margin-left: 20px;
    filter: drop-shadow(20px 20px 30px rgb(0, 0, 0));

}
.updates{
    display:flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 50px 60px 0px 60px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.updates h3{
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
}
.updates p{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    text-wrap:wrap;
}
.updates img{
    width: 400px;
    filter: drop-shadow(10px 0px 50px rgb(234, 41, 251));
    margin-left: 30px;

   
}
.mission{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 50px 60px 0px 60px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.mission h3{
    background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;

}

.mission p{
    text-align: center;
    color: white;
    letter-spacing: 2px;
    text-wrap:wrap;
}
.mission img{
    width: 500px;
    filter: drop-shadow(0px -20px 50px rgb(230, 80, 241));
    opacity: 0.7;
}
.footer{

    padding-top: 10px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    border: transparent;
    background: rgba(255, 255, 255, 0.037);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.3);

}
.footer-1{
    height: 270px;
    display: flex;
    justify-content: space-around;
    align-items: start;

}
.footer img{
    width:300px
    
}
.list-div li{
    font-size: 20px;
    color: white;
    list-style-type: none;
    line-height: 30px;
    margin-right: 200px;
    cursor: pointer;
}
.list-div li {
    position: relative;
  }
  
.list-div li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:violet;
    transform-origin: bottom right;
    transition: transform 250ms ease-out;
}
.list-div li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.app-download img{
    width: 200px;
    
}
.app-download p{
    color: white;
    margin-left: 10px;
    
}
.app-download span a{
    color: white;
    text-decoration: none;
    background-color: blueviolet;
    padding: 2px;
    border-radius: 3px;
    
}

.footer-image img{
    filter: drop-shadow(0px -20px 50px rgb(0, 0, 0));
    opacity: 1;
   
}
.footer-2 p{
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
@media screen and (max-width: 1050px) {
    body .search-icon-image{
        display: none;
        height: 40px;
        opacity: 1;
        filter: drop-shadow(0.5px 0.5px 15px rgb(226, 90, 253));
    }
    body .menu-bar{
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header-2{
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 5px;
         
    }
    .burger-menu{
        visibility: visible;
        display: inline-block;
        cursor: pointer;
        margin-left: 20px;
        width: 40px;
        filter: drop-shadow(0px 0.5px 20px rgb(247, 8, 187));
    
    }
    .close-menu{
        visibility: visible;
        display:none;
        cursor: pointer;
        margin-left: 20px;
        width: 40px;
        filter: drop-shadow(0px 0.5px 20px rgb(247, 8, 187));
    
    }
    .list-1-bar{ 
        display: none;
        position: absolute;
        right: 0px;
        top: 80px;
        z-index: 1;
        background-color: rgba(59, 41, 77, 0.67);
       

    }
    .list-1{
        width: auto;
        display: flex;
        flex-direction: column;
       

    }
    .list-1 li{
        margin-bottom: 20px;
    }

    body .image-4 img{
        width: 400px;
        position: fixed;
        left:-40px;
        top:-80px;
        filter: drop-shadow(5px 5px 20px rgb(76, 16, 255));
        opacity: 0.4;
        rotate: 170deg;
        z-index: -15;
        
    }
    .body-1 .astronaut-div img{
    width: 400px;
    filter: drop-shadow(10px 10px 30px rgb(0, 0, 0));
    transform: scaleX(-1);
    }
    .body-1-1 h2{
        display: none;
        font-size: 20px;
        font-weight: 2000;
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 5px;
         
    }
    body .image-2 img{
        width: 450px;
        position: fixed;
        left:0px;
        top:20px;
        opacity: 0.8;
        filter: drop-shadow(5px 5px 20px rgb(234, 41, 251));
        z-index: -5;
        animation-name:imageSlide ;
        animation-duration: 10000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction:alternate;
        animation-play-state: paused;
       
    }
    body .statistics{
        display:flex;
        justify-content: space-around;
        padding: 5px 5px;
        margin: 30px 30px 0px 30px;
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    
        
    }
    body .statistics span {
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 2px;
        margin-right: 10px;
    
    
    }
    body .statistics p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight:50px; 
        font-size: 15px;
        letter-spacing: 2px;
        text-align: center;
    }
    body .buisness{
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding: 5px 5px;
        margin: 30px 30px 0px 30px;
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    body .buisness-left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    body .buisness-left h2{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 22px;
    }
    body .buisness-left p{
           
        color: white;
        font-size:14px ;
        letter-spacing: 2px;
        text-wrap:wrap;
        text-align: center;
        
    }
    body .buisness-left button{
        color: white;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        background-color:  rgb(126, 1, 243);
        height: 35px;
        border: transparent;
        filter: drop-shadow(0.5px 0.5px 15px rgba(252, 249, 255, 0.21));
        outline: none;
        cursor: pointer;
    }
    
    body .buisness-right{
        margin: 0px 30px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
    }
    .buisness-right div{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }

   
    body .buisness-right h3{
        font-size: 20x;
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
    }
    body .buisness-right p{
        color: white;
        font-size: 14;
        letter-spacing: 2px;
        margin-left: 10px;
        text-align: center;
        text-wrap:wrap;
        
    }
    body .updates{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        margin: 30px 30px 0px 30px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    body .updates h3{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
    }
    body .updates p{
        font-size: 14px;
        color: white;
        letter-spacing: 2px;
        text-wrap:wrap;
        text-align: center;
    }
    body .updates img{
        width: 350px;
        filter: drop-shadow(10px 0px 50px rgb(234, 41, 251));
        margin:0px 10px;
    
       
    }
    body .mission{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        margin: 30px 30px 0px 30px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    body .mission h3{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 2px;
        text-align: center;
    
    }
    
    body .mission p{
        text-align: center;
        color: white;
        font-size: 14px;
        letter-spacing: 2px;
        text-wrap:wrap;
    }
    body .mission img{
        width: 300px;
        filter: drop-shadow(0px -20px 50px rgb(230, 80, 241));
        opacity: 0.7;
    }
    body .footer{

        padding-top: 10px;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    
    }
    body .footer-1{
        height: 210px;
        display: flex;
        justify-content: space-around;
        align-items: start;
    
    }
    body .footer img{
        width:180px
        
    }
    body .list-div li{
        font-size: 16px;
        color: white;
        list-style-type: none;
        line-height: 20px;
        margin-right: 200px;
        cursor: pointer;
    }
    
    .app-download img{
        width: 200px;
        
    }
    body .app-download p{
        color: white;
        margin-left: 15px;
        font-size: 12px;
        
    }
    
    
    body .footer-2 p{
        color: white;
        font-size: 11px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
   
    
}

@media screen and (max-width: 824px) {
    
    body .menu-bar{
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    body .header-2{
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 5px;
         
    }
    .burger-menu{
        visibility: visible;
        display: inline-block;
        cursor: pointer;
        margin-left: 20px;
        width: 40px;
        filter: drop-shadow(0px 0.5px 20px rgb(247, 8, 187));
    
    }
    .close-menu{
        visibility: visible;
        display:none;
        cursor: pointer;
        margin-left: 20px;
        width: 40px;
        filter: drop-shadow(0px 0.5px 20px rgb(247, 8, 187));
    
    }
    .sign-in-button, .signup-button-1{
        display:inline-block;
        margin-bottom: 20px;
    }
    body .div-1 .menu-bar-list{
        display: none;
      
    }
    body .image-1{
        width: 100px;
        position: fixed;
        right:-200px;
        top: -200px;
        filter: drop-shadow(5px 5px 20px rgb(0, 0, 0));
        opacity: 0.4;
        z-index: -2;
        rotate: 90deg;
        height: 10px;
        
    
    
    }
    body .image-4 img{
        width: 200px;
        position: fixed;
        left:-40px;
        top:-40px;
        filter: drop-shadow(5px 5px 20px rgb(76, 16, 255));
        opacity: 0.4;
        rotate: 170deg;
        z-index: -15;
        
    }
    body .image-2{
       display: none;
       
       
    }
    .body-1 .astronaut-div img{
    position: absolute;
    top:100px;
    right: 10%;
    width:300px;
    filter: drop-shadow(10px 10px 30px rgb(0, 0, 0));
    transform: scaleX(-1);
    opacity: 0.2;
    }
  
    body .image-2 img{
        width: 300px;
        position: fixed;
        left:0px;
        top:20px;
        opacity: 0.8;
        filter: drop-shadow(5px 5px 20px rgb(234, 41, 251));
        z-index: -5;
        animation-name:imageSlide ;
        animation-duration: 10000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction:alternate;
        animation-play-state: paused;
       
    }
    body .body-1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;
        margin-left: 5px;
    
    }
    body .body-1-1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 5px;
    }
   
    body .body-1-1 p{
        text-align: center;
        color: white;
        font-size: 11px;
        text-wrap:wrap;
         
    }
    body .body-1-1 input{
        background-color: rgba(7, 7, 7, 0.855);
        width: 80%;
        height: 30px;
        border: transparent;
        filter: drop-shadow(0.5px 0.5px 15px rgba(189, 143, 235, 0.34));
        color: rgba(255, 255, 255, 0.919);
        font-family: roboto;
        outline: none;
        padding-left: 20px;
    
    }
    body .input-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-1-1 input::placeholder{
        color: rgba(255, 255, 255, 0.784);
        font-size: 12px;
    
    }
    body .body-1-1 button{
        color: white;
        background-color:  blueviolet;
        width: 20pxpx;
        height: 30px;
        border: transparent;
        filter: drop-shadow(0.5px 0.5px 15px rgba(252, 249, 255, 0.21));
        outline: none;
        cursor: pointer;
        font-size: 12;
    }
    body .statistics{
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
    
        
    }
    body .statistics span {
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 8px;
    
    
    
    }
    body .statistics p {
        color: white;
        font-size: 8px;
      
    
    }
    body .buisness{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    body .buisness-left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    body .buisness-left h2{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 18px;
    }
    body .buisness-left p{
           
        color: white;
        font-size:10px ;
        text-wrap:wrap;
    }
    body .buisness-left button{
        color: white;
        padding-left: 100px;
        padding-right: 100px;
        background-color:  rgb(126, 1, 243);
        border: transparent;
        filter: drop-shadow(0.5px 0.5px 15px rgba(252, 249, 255, 0.21));
        outline: none;
        cursor: pointer;
    }
    
    body .buisness-right{
        display: flex;
        flex-direction:column;
        justify-content: center;
        
    }
    body .buisness-right .buisness-right-right{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

   
    body .buisness-right h3{
        font-size: 18px;
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(200, 191, 177, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
    }
    body .buisness-right  p{
        color: rgb(243, 239, 239);
        font-size: 12px;
        letter-spacing: 2px;
        margin-left: 10px;
        text-align: center;
        text-wrap:wrap;
        
    }
   
    .programms .programms-left img{
        display: flex;
        justify-content: center;
        width: 200px;
    }
    body .updates{
        display:flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    body .updates h3{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    body .updates p{
        font-size: 12px;
        color: white;
        text-wrap:wrap;
        text-align: center;
    }
    body .updates img{
        width: 200px;
        filter: drop-shadow(10px 0px 50px rgb(234, 41, 251));
        margin:0px 10px;
    
       
    }
    body .mission{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        margin: 30px 30px 0px 30px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    body .mission h3{
        background-image:linear-gradient(to right,rgba(225, 164, 10, 0.979), rgba(234, 148, 10, 0.993),rgba(255, 13, 255, 0.99));
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    
    }
    
    body .mission p{
        text-align: center;
        color: white;
        font-size: 12px;
        text-wrap:wrap;
    }
    body .mission img{
        width: 200px;
        filter: drop-shadow(0px -20px 50px rgb(230, 80, 241));
        opacity: 0.7;
    }
    body .footer{

        padding-top: 10px;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        border: transparent;
        background: rgba(255, 255, 255, 0.037);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    
    }
    body .footer-1{
        display: flex;
        justify-content: space-around;
        align-items: start;
    }
    body .footer img{
        width:120px
        
    }
    body .list-div li{
        font-size: 14px;
        color: white;
        list-style-type: none;
        line-height: 18px;
        margin-right: 120px;
        cursor: pointer;
    }
    
    body .app-download img{
        width: 100px;
        
    }
    body .app-download p{
        color: white;
        margin-left: 15px;
        font-size: 10px;
        
    }
    
    
    body .footer-2 p{
        color: white;
        font-size: 9px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
   
    
   

   
    
}
@media screen and (max-width: 500px){
    body .statistics p {
        color: white;
        font-size: 6px;
      
    
    }
    body .footer img{
        width:60px
        
    }
    .mission{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        margin: 50px 60px 0px 60px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .updates img{
        display: none;
        width: 400px;
        filter: drop-shadow(10px 0px 50px rgb(234, 41, 251));
        margin-left: 30px;
    
       
    }
    .footer_paragraph{
        display: none;
    }
    
   

}